/*
3 - greys
  Grey--low 4D4D4D
  Grey--mid 999999
  Grey--high E5E5E5

3 - blues
  Blue--low 004466
  Blue--mid 0088CC
  Blue--high 99DDFF

3 - accents
  Green--low 006644
  Green--mid 00FFAA
  Green--high 99FFDD
*/

ul {
  list-style: none;
  padding: 0;
}

.App {
  background-color: #0088CC;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}
/* Position and sizing of burger button */
.bm-burger-button {
  display: inline;
  position: fixed;
  width: 2.25rem;
  height: 4vh;
  left: 1.25rem;
  top: 0;
  margin: 2vh 0;
}

.bm-burger-button:hover {
  border: 3px solid red;
}
/* Wrapper for item list */
.bm-item-list {
  color: #222;
  max-height: 90vh;
}
/* General sidebar styles */
.bm-menu {
  background: #eee;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}


.infoWindow {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  width: 100%;
}
.infoWindow-icon{
  height: auto;
  margin: 0.25rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-nav__locations {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.side-nav__locations:hover {
  background-color: #444;
  color: #e5e5e5;
}

.side-nav__locations:focus {
  background-color: #222;
  color: #e5e5e5;
}

.side-nav__title {
  text-align: center;
}

.side-nav__line {
padding-top: 0.25rem;
margin-bottom: 1rem;
border-bottom: 3px solid #222;
}

.side-nav__search {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  z-index: 50;
  background-color: #0088CC;
  color: #E5E5E5;
  width: 100vw;
}